 *{
    /*border : solid 2px black;*/
   font-family: "微軟正黑體";
 }
 .menuBox{
    position: fixed;
    top: 20px;
    right: 800px;
    font-size: 2ch;
 }
 a{
   text-decoration : none;
   color: #ccc;
 }
 .tabMenuItem {
     position: fixed;
     top : 38px;
     right : 620px;
     font-size: 2.5ch;
 }
 .menuItem{
     padding: 3mm;
     transition : 1s;
 }
 .menuItem:hover{
   border : solid 1px #ccc;
 }
 .buttons{
   display: fixed;
   justify-content: space-between;
   padding-left : 10px;
   padding-top : 10px;
 }
 .ShoppingCart{ 
   position : fixed;
   top : 40px;
   right : 55px;
 /*   float : right;
   padding-top : 25px;
   padding-right :10px; */
 }
 .Member{
   position : fixed;
   top : 39px;
   right : 90px;
 /*   float :right;
   padding-top : 25px;
   padding-right :10px; */
 }
 .Form{
   background-color: bisque;
   text-align: center;
    /* position : fixed;
    top : 200px;
    right : 680px; */
 }