@charset "UTF-8";

/* 首頁預留 */
.head{
    height:80px;
    background-color: #003344;
    color: white;
    font-weight: bold;
    font-size:30px;
    text-align:center;
    padding:10px;
}
/* 購物車浮動按鈕 */
.cart{
	/* border-radius: 10%; */
	/* background: #fee528; */
    position: fixed;
    text-align: center;
    padding: 0px;
	right:20px;
	bottom: 20px;
    z-index: 10;
    border: 2px dashed red;
}
.cart button{
    margin-bottom: 8px;
}
.cart img{
    height: 85px;
    width: 85px; 
    /* border: 2px dashed black; */
}
/* 箱子最外層 */
.content{
    width:1000px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    border:3px solid black;
    /* height:100px; */
}
/* 每個箱子裝一個產品 */
.box{
    width:280px;
    height:230px;
    padding-top: 0px;
    padding-left:10px;
    padding-right: 10px;
    margin:10px;
    background-color:white;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    line-height:20px;
    border: 2px dashed red;
}
.prod_name{
    font-size: 16px;
}
.prod_price{
    font-weight: bold;
    color: red;
}
/* 圖片設計 */
.frame{
    height: 160px;
    width: 270px; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed black;
}
.frame img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
/* 自適應區塊 */
@media screen and (max-width:1250px){
    .content{
        width:85%;
        text-align: center;
        margin-left: auto;
        margin-right: 100px;
    }
}
/* @media screen and (max-width:880px){
    .content{
        width:80%;
        text-align: center;
        margin-left: 5%;
        margin-right:auto;
    }
} */