@charset "UTF-8";

/* 首頁預留 */
.head{
    height:80px;
    background-color: #003344;
    color: white;
    font-weight: bold;
    font-size:30px;
    text-align:center;
    padding:10px;
}
/* 箱子最外層 */
.content{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    /* border:1px solid red;
    height:100px; */
}
/* 每個箱子裝一個產品 */
.box{
    width:280px;
    height:200px;
    padding:10px;
    margin:10px;
    background-color:white;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    line-height:23px;
    border: 2px dashed red;
}
/* 圖片設計 */
.figure{
    width:250px;
    height:150px;
    border: 2px dashed black;
    margin:0px;
}
/* 自適應區塊 */
@media screen and (max-width:1000px){
    .content{width:100%;text-align: center;}
}
@media screen and (max-width:600px){
    .content{width:100%;text-align: center;}
}